[[set . "title" "Home"]]
[[append . "moreStyles" "css/index.css"]]
[[template "header.html" .]]
[[append . "moreScripts" "js/date-fns-1.9.0.min.js"]]
[[append . "moreScripts" "js/index.js"]]

<div class="container" id="app">
  <div class="row" d>
    <div class="col-md-6">
      <h2>Current Timestamp</h2>
      {{ ts }} <br />
      <h2>Current Date</h2>
      {{ date }}
    </div>
    <div class="col-md-6">
      <h2>Custom Timestamp</h2>
      <div class="form-group">
        <label for="customTimestamp">Timestamp</label>
        <input type="number" class="form-control" id="customTimestamp" placeholder="1608732132" v-model.trim.number="customTimestamp">
      </div>
      <div v-if="customTimestamp !== ''" class="alert alert-info" role="alert">
        <strong>Date</strong> {{ newDate }}
      </div>
      <h2>Custom Date</h2>
      <div class="form-group">
        <label for="customDate">Date</label>
        <input type="text" class="form-control" id="customDate" placeholder="2020-12-23T09:02:16Z" v-model.trim="customDate">
      </div>
      <div v-if="customDate !== ''" class="alert alert-info" role="alert">
        <strong>Timestamp</strong> {{ newTimestamp }}
      </div>
    </div>
  </div>
</div>

[[template "footer.html" .]]
